In [2]:
import requests as req
import pandas as pd
from bs4 import BeautifulSoup as bs
url = "https://en.wikipedia.org/wiki/MasterChef_Australia"
table = "wikitable"
response = req.get(url)
print(response.status_code)

200

In [5]:
soup = bs(response.text, 'html.parser')
aus_1 = soup.find_all('table') [1]
aus_2 = soup.find_all('table') [3]
aus_3 = soup.find_all('table') [5]

In [6]:
df_1 = pd.read_html(str(aus_1))
df_1 = pd.DataFrame (df_1[0])

df_2 = pd.read_html(str(aus_2))
df_2 = pd.DataFrame (df_2[0])

df_3 = pd.read_html(str(aus_3))
df_3 = pd.DataFrame (df_3[0])

In [10]:
df_1 = df_1.astype(str)
df_1 = df_1.apply(lambda x:x.str.strip())
df_2 = df_2.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df_3 = df_3.astype(str)

df_3.head()

,Series,Premiere date,Finale date,Episodes,Premiere ratings,Rank,Finale ratings (Grand final),Rank.1,Finale ratings (Winner announced),Rank.2,Series Average
0,1,27 April 2009,19 July 2009,72,1.428,#7,3.313,#2,3.745,#1,1.532
1,2,19 April 2010,25 July 2010,84,1.695,#1,3.542,#2,3.962,#1,1.761
2,3,1 May 2011,7 August 2011,86,1.569,#1,2.334,#2,2.740,#1,1.488
3,4,6 May 2012,25 July 2012,70,1.368,#4,1.888,#2,2.191,#1,1.132
4,5,2 June 2013,1 September 2013,65,1.1,#8,0.921,#8,1.057,#5,0.739

In [11]:
#df_1.to_csv('aus_judges.csv', index=False)
#df_2.to_csv('aus_winners.csv', index=False)
#df_3.to_csv('aus_ratings.csv', index=False)